<div ng-hide="attrs.id">
    <a class="" ng-disabled="true" ng-transclude></a>

</div>
<div ng-show="attrs.id">
    <div>
        <span ng-show="quantityMax">
            <select name="quantity" id="quantity" ng-model="q"
                    ng-options=" v for v in qtyOpt"></select>
        </span>
        <a class=""
           ng-click="shoppingCart.addItem(id, name, price, q, data)"
           ng-transclude></a>
    </div>
    <mark  ng-show="inCart()">
        <a ng-click="shoppingCart.removeItemById(id)" style="cursor: pointer;">Remove</a>
    </mark>
</div>