
<div class="" ng-show="shoppingCart.getTotalItems() === 0">
    Your cart is empty
</div>

<div class="" ng-show="shoppingCart.getTotalItems() > 0">

    <table class="">

        <thead>
        <tr>
            <th></th>
            <th></th>
            <th>Quantity</th>
            <th>Amount</th>
            <th>Total</th>
        </tr>
        </thead>
        <tfoot>
        <tr ng-show="shoppingCart.getTax()">
            <td></td>
            <td></td>
            <td></td>
            <td>Tax ({{ shoppingCart.getTaxRate() }}%):</td>
            <td>{{ shoppingCart.getTax() | currency }}</td>
        </tr>
        <tr ng-show="shoppingCart.getShipping()">
            <td></td>
            <td></td>
            <td></td>
            <td>Shipping:</td>
            <td>{{ shoppingCart.getShipping() | currency }}</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td>Total:</td>
            <td>{{ shoppingCart.totalCost() | currency }}</td>
        </tr>
        </tfoot>
        <tbody>
        <tr ng-repeat="item in shoppingCart.getCart().items track by $index">
            <td><span ng-click="shoppingCart.removeItemById(item.getId())" class=""></span></td>

            <td>{{ item.getName() }}</td>
            <td><span class="" ng-class="{'disabled':item.getQuantity()==1}"
                      ng-click="item.setQuantity(-1, true)">-</span>&nbsp;&nbsp;
                {{ item.getQuantity() | number }}&nbsp;&nbsp;
                <span class="" ng-click="item.setQuantity(1, true)">+</span></td>
            <td>{{ item.getPrice() | currency}}</td>
            <td>{{ item.getTotal() | currency }}</td>
        </tr>
        </tbody>
    </table>
</div>